{% extends 'base.html.twig' %}

{% block title %}Hello ErrorController!{% endblock %}

{% block body %}
    <h1>You have entered a wrong password so you have redirected to error page</h1>
{% endblock %}
